
old/data_management/getsentinel2.py
old/data_management/getlandsat.py
old/data_management/getarcticdem_strip_filerestructure.py
old/master_script_how.py
old/data_management/getarcticdem_mosaic.py
old/data_management/getarcticdem_filerestructure.py
old/data_management/getarcticdem.py
old/data_management/cleanDEM.py
old/CCI_validation/icemarginallakes_validation_carrivick_overlap.py
old/CCI_validation/icemarginallakes_validation_shugar_and_carrivick.py
old/CCI_validation/icemarginallakes_validation_shugar.py
old/CCI_validation/icemarginallakes_validation_carrivick.py
old/CCI_validation/icemarginallakes_validation_stats.py
old/CCI_processing/idtest2.py
old/CCI_validation/iml_certainty_analysis.py
old/CCI_validation/iml_certainty_scores.py
old/CCI_processing/icemarginallakes_areas_analysis2.py
old/CCI_processing/icemarginallakes_areas_analysis.py
old/CCI_processing/icemarginallakes_areas_analysis_newplt.py
old/CCI_processing/icemarginallakes_reformatting.py
old/CCI_processing/findIntersects.py
old/CCI_processing/findduplicates.py
old/CCI_processing/idbyintersect.py
old/CCI_processing/icemarginallakes_stats.py
old/CCI_processing/assign_names.py
old/CCI_validation/PVIR_demcomparison.py
old/CCI_processing/idtest.py
*.tif
